# Handle line endings automatically for files detected as text
# and leave binary files untouched.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.css text eol=lf
*.json text eol=lf
*.md text eol=lf
.gitignore text eol=lf
.env.example text eol=lf
